@import "tailwindcss";

@theme {
    --font-sans: Sora, sans-serif;
    --breakpoint-xs: 32rem;
    --font-display: "Comfortaa", sans-serif;

    /* Primary - Deep Ocean Navy (Zaufanie, profesjonalizm, spokój) */
    --color-primary-50: #f4f7fa;
    --color-primary-100: #e8eef3;
    --color-primary-200: #c5d5e6;
    --color-primary-300: #9bb8d7;
    --color-primary-400: #6a95c3;
    --color-primary-500: #4675a9;
    --color-primary-600: #355982;
    --color-primary-700: #2b4769;
    --color-primary-800: #223752;
    --color-primary-900: #1b2a3f;
    --color-primary-950: #111a27;

    /* Secondary - Warm Sunshine Coral (Ciepło, empatia, przyjazny dla dzieci) */
    --color-secondary-50: #fff6f5;
    --color-secondary-100: #ffebe9;
    --color-secondary-200: #ffd3cf;
    --color-secondary-300: #ffb1a8;
    --color-secondary-400: #ff8474;
    --color-secondary-500: #f95742; /* Główny, piękny odcień koralowy */
    --color-secondary-600: #e33d28;
    --color-secondary-700: #be2e1b;
    --color-secondary-800: #9d2719;
    --color-secondary-900: #822318;
    --color-secondary-950: #471009;
}

.button {
  @apply px-4 inline-flex gap-2 h-10 items-center justify-center rounded-md text-sm bg-secondary-600 hover:bg-secondary-700 border-secondary-500 hover:border-secondary-400 text-white shadow-md duration-150 ease-[cubic-bezier(0.175,0.885,0.32,1.275)] active:translate-y-px cursor-pointer;
}
input, textarea {
  @apply border rounded-lg px-4 py-2 text-black;
}

label {
  @apply flex flex-col;
}
