@import "tailwindcss";

@theme {
  --font-sans: Sora, sans-serif;
  --breakpoint-xs: 32rem;
  --font-display: "Comfortaa", sans-serif;
  --color-primary-50: #f6f8f4;
  --color-primary-100: #eaf0e5;
  --color-primary-200: #d6e1ce;
  --color-primary-300: #bcccad;
  --color-primary-400: #9fb28f;
  --color-primary-500: #819474;
  --color-primary-600: #6d7d62;
  --color-primary-700: #5a6852;
  --color-primary-800: #495445;
  --color-primary-900: #3b4338;
  --color-primary-950: #23281f;
}

.button {
  @apply px-4 inline-flex gap-2 h-10 items-center justify-center rounded-md text-sm bg-primary-200 focus:bg-primary-300 border hover:border-primary-500 border-primary-400 font-bold text-gray-600 shadow-[0px_2px_4px_0px_rgba(10,13,18,0.1)] shadow-[0px_-3px_0px_0px_rgba(10,13,18,0.1)_inset] shadow-[0px_0px_0px_2px_rgba(10,13,18,0.25)_inset] duration-150 [transition-timing-function:cubic-bezier(0.175,0.885,0.32,1.275)] active:translate-y-[1px] cursor-pointer;
}

input, textarea {
  @apply border rounded-lg px-4 py-2 text-black;
}

label {
  @apply flex flex-col;
}
